
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.nm{
  width: 500px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.heading{
  color: black;
  font-family: sans-serif;
  
}
