
.wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}



.heading{
  color: black;
  font-family: sans-serif;
  
}

.wrapperhome{
  width: 500px;
  margin: 20px;
}
